@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Times New Roman', Times, serif;
scroll-behavior: smooth;
}

header {
width: 100%;
min-height: 120vh;
background: url(../img/bg.header.jpg);
background-size: cover;
}

header nav {
display: flex;
width: 90%;
margin: 0 auto;
justify-content: space-between;
align-items: center;
padding-top: 30px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
gap: 15px;
}

header nav ul a {
color: #e2f7ff;
font-size: 20px;
padding: 10px 14px;
text-decoration: none;
border-bottom: 1px solid transparent;   
transition: .5s;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav ul a:hover {
border-bottom: 1px solid #e2f7ff;
}

.hero {
width: 100%;
text-align: center;
padding-top: 130px;
}

.hero h2 {
font-size: 60px;
color: #e2f7ff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.hero h1 {
color: #e2f7ff;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: 100px;
}

.hero a {
background: #52aff5dc;
color: #e2f7ff;
font-size: 28px;
padding: 10px 20px;
border-radius: 10px;
text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: inline-block;
transition: transform 0.5s ease;
}

header .hero a:hover {
transform: scale(1.02);
background-color: #e9f7fc;
color: #52aff5dc;
}

header a img {
transition: .5s;
}

header a img:hover {
transform: scale(1.1);
}

#servicios {
width: 100%;
text-align: center;
padding: 100px 10%;
}

#servicios h2 {
margin-top: 0px;
padding-top: 30px;
font-size: 50px;
margin-bottom: 30px;
color: #e2f7ff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#servicios {
width: 100%;
background:  #627d9c;
background-size: cover;
}

#parrafo {
font-size: 25px;
color: #e2f7ff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#servicios #caja-servicios {
padding: 9px 9px;
margin: 9px;
border-radius: 10px;
background:  #80b5f1;
}

#servicios .fila {
width: 100%;
margin-top: 40px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

#servicios .col-servicio {
position: relative;
z-index: 1;
max-width: 100px;
}

#servicios .col-servicio {
background: #5d8fc9b4;
padding: 8px;
margin: 15px;
border-radius: 9px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
max-width: 300px;
text-align: center;
}

#servicios .col-servicio h3 {
font-size: 30px;
color: #e2f7ff;
text-align: center;
margin-top: 15px;
margin-bottom: 8px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#servicios .col-servicio p {
font-size: 20px;
color: #e2f7ff;
text-align: center;
margin-top: 15px;
margin-bottom: 8px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#servicios .col-servicio a {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
}

#servicios .col-servicio img {
border-radius: 6px;
position: relative;
}

#equipo {
background: url(../img/opcion2.jpg);
text-align: center;
padding: 30px 10%;
background-size: cover;
}

#equipo h2 {
font-size: 50px;
color: #e2f7ff;
}

#equipo .fila {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}

.col-equipo {
background: #80b5f1;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
max-width: 300px;
text-align: center;
}

.col-equipo img {
border-radius: 15px;
width: 100%;
}

.col-equipo h3 {
font-size: 32px;
color: #e2f7ff;
margin-top: 15px;
}

#testimonios {
background-color: #6e9cd1;
text-align: center;
padding: 50px 20px;
}

#testimonios #caja-testimonios {
max-width: 900px;
margin: auto;
}

#testimonios h2 {
font-size: 2rem;
color: #e2f7ff;
margin-bottom: 20px;
}

#testimonios p {
font-size: 1.1rem;
color: #e2f7ff;
margin-bottom: 30px;
}

#testimonios .fila {    
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
padding: 10px;
}

#testimonios .col-testimonio {
background: #5d8fc9b4;
padding: 10px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
max-width: 300px;
text-align: center;
}

#testimonios .col-testimonio img {
width: 70px;
height: 70px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 20px;
}

#testimonios .col-testimonio p {
font-style: italic;
color: #333;
}

#testimonios .col-testimonio h4 {
margin-top: 10px;
font-weight: bold;
color: #e2f7ff;
}

#testimonios #caja-testimonios {
padding: 9px 9px;
margin: 9px;
border-radius: 10px;
background:  #80b5f1;
margin: 30px 300px;
}

#contacto {
background: url(../img/bg-contactanos.jpg);
background-size: cover;
width: 100%;
text-align: center;
padding: 120px 10% 110px;
}

#contacto #caja-contacto {
background: #33333359;
padding: 10px 10px;
border-radius: 10px;
}

#contacto h2 {
font-size: 50px;
margin-bottom: 50px;
color: #e9f7fc;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contacto p {
font-size: 20px;
margin-bottom: 30px;
color: #e9f7fc;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contacto form {
width: 70%;
max-width: 480px;
margin: 0 auto;
}

#contacto .fila {
justify-content: space-between;
display: flex;
flex-wrap: wrap;
}

#contacto .fila input, #contacto select {
width: 220px;
padding: 8px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 4px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contacto .fila input:focus, select:focus {
border-color: #008CBA;
outline: none;
box-shadow: 0 0 5px rgba(0, 140, 186, 0.5);
}

#contacto button {
background: #52aff5dc;
padding: 6px 30px;
color: #e9f7fc;
border-radius: 6px;
font-size: 20px;
margin-top: 30px;
border: none;   
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
display: inline-block;
transition: transform 0.5s ease;
}

#contacto button:hover {
transform: scale(1.02);
background-color: #e9f7fc;
color: #52aff5dc;
}

#contacto textarea {
width: 100%;
height: 100px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
resize: none;
font-size: 1rem;
}

#contacto textarea:focus {
border-color: #008CBA;
outline: none;
box-shadow: 0 0 5px rgba(0, 140, 186, 0.5);
}

/* Footer */
#footer {
color: #e9f7fc;
padding: 20px;
text-align: center;
font-size: 15px;
background: #6e9cd1;
}

#footer p {
margin-top: 10px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer #redes {
margin-top: 10px;
}

#footer #redes img {
padding: 6px;
}